/*
    Convenção de nomes de classes utilizada:
    - Classe escrita em Upper Camel Case (DesseJeito) se refere ao elemento div raiz do componente.
      As demais classes são escritas em Snake Case(desse-jeito), que é a convenção utilizada pelo CSS.
    - Sem prefixo "js": Classe de estilização do componente.
      Pode ser alterada sem que haja a possibilidade de alterar o comportamento do componente.
    - Com prefixo "js": indica que a classe é incluída/removida dos elementos por Javascript.
      Deve-se verificar o código do controller do componente ao realizar alterações.
*/
.Footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 0 1rem;
}

.circle {
  border-radius: 50%;
  height: 27px;
  width: 27px;
}

.center-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
}

.bar {
  border-radius: 5px;
  height: 5px;
  margin: 0 0.25rem;
  width: 40px;
}

.screen {
  background-color: #67C258;
  height: 20px;
  width: 100px;
}

.gamepad-icon {
  background-image: url("./assets/gamepad.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 37px;
  width: 37px;
}

.red {
  background-color: #FF0000;
}

.blue {
  background-color: #38387C;
}

.black {
  background-color: #000000;
}






