.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: inherit;

  main {
    //50px da parte vermelha (top e bottom) e 25px da parte branca (top e bottom)
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
    min-height: calc(100vh - 50px - 25px - 25px - 50px);
    width: calc(100% - 10px - 10px);
  }

  img {
    align-self: center;
    max-width: 100%;
    height: auto;
  }

  input {
    align-self: center;
    display: block;
    width: 90%;
    font-size: 1.2rem;
    height: 5vh;
    max-width: 500px;
    padding: 1rem;
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.1s linear;
    font-family: Roboto;
  }

  input:focus {
    box-shadow: 0px 0px 4px 3px rgba(0,178,255,0.8);
  }

  button {
    align-self: center;
    border-radius: 1px;
    margin: 1rem 0;
    width: 40%;
    font-size: 1.2rem;
    font-family: Roboto;
    color: #272727;
    background-color: #C4C4C4;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color linear 0.5s;
  }

  button:hover {
    background-color: white;
    cursor: pointer;
  }

  button:active {
    box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.5);
  }
}

.app-body {
  //Header e Footer possuem 50px de altura cada, e cada lateral possui 15px
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  min-height: calc(100vh - 50px - 50px);
  width: calc(100% - 15px - 15px);

  .app-body_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;
  }

  .app-body_foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;

    .small-circle {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.page-control-container:last-of-type {
  align-self: center;
  margin: 0 0 0.5rem;
}

.results-container {
  width: 100%;
}

.small-circle {
  border-radius: 50%;
  height: 10px;
  margin: 0.2rem 0.3rem;
  width: 10px;
}

.line-box {
  width: 20px;
  margin: 0 1rem;
}

.line {
  border-bottom: 1px solid black;
  margin: 0.1rem 0;
}

.red {
  background-color: #CC0000;
}

.no-result-found {
  color: #C0C0C0;
  margin: 0 0.15rem 0.5rem;
}

.no-result-found:last-of-type {
  font-size: 1.3rem;
}

.loading {
  height: 150px;
  width: 150px;
  background-image: url("./assets/pokeball.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: spin 1s linear infinite;
}

.loading.in-center {
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




